.brr-0 {
    border-radius: 0;
}

.brr-1 {
    border-radius: 0.25rem;
}

.brr-2 {
    border-radius: 0.5rem;
}

.brr-3 {
    border-radius: 0.75rem;
}

.brr-4 {
    border-radius: 1rem;
}

.brd-0 {
    border: none;
}




.brd-1 {
    border-width: 0.05rem;
}

.brd-2 {
    border-width: 0.1rem;
}

.brd-3 {
    border-width: 0.15rem;
}

.brd-4 {
    border-width: 0.2rem;
}

.brd-grey-1 {
    border-color: $grey-1;
}

.brd-grey-2 {
    border-style: solid;
    border-color: $grey-2;
}

.brd-grey-3 {
    border-style: solid;
    border-color: $grey-3;
}

.brd-grey-4 {
    border-style: solid;
    border-color: $grey-4;
}

.brd-grey-5 {
    border-style: solid;
    border-color: $grey-5;
}

.brd-grey-6 {
    border-style: solid;
    border-color: $grey-6;
}

.brd-grey-7 {
    border-style: solid;
    border-color: $grey-7;
}

.brd-grey-8 {
    border-style: solid;
    border-color: $grey-8;
}

.brd-grey-9 {
    border-style: solid;
    border-color: $grey-9;
}




.brd-white {
    border-style: solid;
    border-color: $white;
}




.brd-blue-1 {
    border-color: $blue-1;
}

.brd-blue-2 {
    border-style: solid;
    border-color: $blue-2;
}

.brd-blue-3 {
    border-style: solid;
    border-color: $blue-3;
}

.brd-blue-4 {
    border-style: solid;
    border-color: $blue-4;
}

.brd-blue-5 {
    border-style: solid;
    border-color: $blue-5;
}

.brd-blue-6 {
    border-style: solid;
    border-color: $blue-6;
}

.brd-blue-7 {
    border-style: solid;
    border-color: $blue-7;
}

.brd-blue-8 {
    border-style: solid;
    border-color: $blue-8;
}

.brd-blue-9 {
    border-style: solid;
    border-color: $blue-9;
}