.p-a {
    padding: auto !important;
}

.p-x-a {
    padding-left: auto !important;
    padding-right: auto !important;
}

.p-y-a {
    padding-top: auto !important;
    padding-bottom: auto !important;
}

.p-r-a {
    padding-right: auto !important;
}

.p-l-a {
    padding-left: auto !important;
}

.p-t-a {
    padding-top: auto !important;
}

.p-b-a {
    padding-bottom: auto !important;
}



.p-0 {
    padding: 0 !important;
}

.p-x-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.p-y-0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.p-r-0 {
    padding-right: 0 !important;
}

.p-l-0 {
    padding-left: 0 !important;
}

.p-t-0 {
    padding-top: 0 !important;
}

.p-b-0 {
    padding-bottom: 0 !important;
}



.p-1 {
    padding: 0.25rem !important;
}

.p-x-1 {
    padding-left: 0.25rem !important;
    padding-right: 0.25rem !important;
}

.p-y-1 {
    padding-top: 0.25rem !important;
    padding-bottom: 0.25rem !important;
}

.p-r-1 {
    padding-right: 0.25rem !important;
}

.p-l-1 {
    padding-left: 0.25rem !important;
}

.p-t-1 {
    padding-top: 0.25rem !important;
}

.p-b-1 {
    padding-bottom: 0.25rem !important;
}


.p-2 {
    padding: 0.5rem !important;
}

.p-x-2 {
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
}

.p-y-2 {
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
}

.p-r-2 {
    padding-right: 0.5rem !important;
}

.p-l-2 {
    padding-left: 0.5rem !important;
}

.p-t-2 {
    padding-top: 0.5rem !important;
}

.p-b-2 {
    padding-bottom: 0.5rem !important;
}

.p-3 {
    padding: 0.75rem !important;
}

.p-x-3 {
    padding-left: 0.75rem !important;
    padding-right: 0.75rem !important;
}

.p-y-3 {
    padding-top: 0.75rem !important;
    padding-bottom: 0.75rem !important;
}

.p-r-3 {
    padding-right: 0.75rem !important;
}

.p-l-3 {
    padding-left: 0.75rem !important;
}

.p-t-3 {
    padding-top: 0.75rem !important;
}

.p-b-3 {
    padding-bottom: 0.75rem !important;
}

.p-4 {
    padding: 1rem !important;
}

.p-x-4 {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}

.p-y-4 {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}

.p-r-4 {
    padding-right: 1rem !important;
}

.p-l-4 {
    padding-left: 1rem !important;
}

.p-t-4 {
    padding-top: 1rem !important;
}

.p-b-4 {
    padding-bottom: 1rem !important;
}


.p-5 {
    padding: 1.25rem !important;
}

.p-x-5 {
    padding-left: 1.25rem !important;
    padding-right: 1.25rem !important;
}

.p-y-5 {
    padding-top: 1.25rem !important;
    padding-bottom: 1.25rem !important;
}

.p-r-5 {
    padding-right: 1.25rem !important;
}

.p-l-5 {
    padding-left: 1.25rem !important;
}

.p-t-5 {
    padding-top: 1.25rem !important;
}

.p-b-5 {
    padding-bottom: 1.25rem !important;
}

.p-6 {
    padding: 1.5rem !important;
}

.p-x-6 {
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
}

.p-y-6 {
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
}

.p-r-6 {
    padding-right: 1.5rem !important;
}

.p-l-6 {
    padding-left: 1.5rem !important;
}

.p-t-6 {
    padding-top: 1.5rem !important;
}

.p-b-6 {
    padding-bottom: 1.5rem !important;
}

.p-7 {
    padding: 2rem !important;
}

.p-x-7 {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
}

.p-y-7 {
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
}

.p-r-7 {
    padding-right: 2rem !important;
}

.p-l-7 {
    padding-left: 2rem !important;
}

.p-t-7 {
    padding-top: 2rem !important;
}

.p-b-7 {
    padding-bottom: 2rem !important;
}

.p-8 {
    padding: 3rem !important;
}

.p-x-8 {
    padding-left: 3rem !important;
    padding-right: 3rem !important;
}

.p-y-8 {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
}

.p-r-8 {
    padding-right: 3rem !important;
}

.p-l-8 {
    padding-left: 3rem !important;
}

.p-t-8 {
    padding-top: 3rem !important;
}

.p-b-8 {
    padding-bottom: 3rem !important;
}

.p-9 {
    padding: 4.5rem !important;
}

.p-x-9 {
    padding-left: 4.5rem !important;
    padding-right: 4.5rem !important;
}

.p-y-9 {
    padding-top: 4.5rem !important;
    padding-bottom: 4.5rem !important;
}

.p-r-9 {
    padding-right: 4.5rem !important;
}

.p-l-9 {
    padding-left: 4.5rem !important;
}

.p-t-9 {
    padding-top: 4.5rem !important;
}

.p-b-9 {
    padding-bottom: 4.5rem !important;
}

.p-10 {
    padding: 7rem !important;
}

.p-x-10 {
    padding-left: 7rem !important;
    padding-right: 7rem !important;
}

.p-y-10 {
    padding-top: 7rem !important;
    padding-bottom: 7rem !important;
}

.p-r-10 {
    padding-right: 7rem !important;
}

.p-l-10 {
    padding-left: 7rem !important;
}

.p-t-10 {
    padding-top: 7rem !important;
}

.p-b-10 {
    padding-bottom: 7rem !important;
}


@media (max-width: 480px) {
    .p-s-a {
        padding: auto !important;
    }
    
    .p-s-x-a {
        padding-left: auto !important;
        padding-right: auto !important;
    }
    
    .p-s-y-a {
        padding-top: auto !important;
        padding-bottom: auto !important;
    }
    
    .p-s-r-a {
        padding-right: auto !important;
    }
    
    .p-s-l-a {
        padding-left: auto !important;
    }
    
    .p-s-t-a {
        padding-top: auto !important;
    }
    
    .p-s-b-a {
        padding-bottom: auto !important;
    }
    
    
    
    .p-s-0 {
        padding: 0 !important;
    }
    
    .p-s-x-0 {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    
    .p-s-y-0 {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }
    
    .p-s-r-0 {
        padding-right: 0 !important;
    }
    
    .p-s-l-0 {
        padding-left: 0 !important;
    }
    
    .p-s-t-0 {
        padding-top: 0 !important;
    }
    
    .p-s-b-0 {
        padding-bottom: 0 !important;
    }
    
    
    
    .p-s-1 {
        padding: 0.25rem !important;
    }
    
    .p-s-x-1 {
        padding-left: 0.25rem !important;
        padding-right: 0.25rem !important;
    }
    
    .p-s-y-1 {
        padding-top: 0.25rem !important;
        padding-bottom: 0.25rem !important;
    }
    
    .p-s-r-1 {
        padding-right: 0.25rem !important;
    }
    
    .p-s-l-1 {
        padding-left: 0.25rem !important;
    }
    
    .p-s-t-1 {
        padding-top: 0.25rem !important;
    }
    
    .p-s-b-1 {
        padding-bottom: 0.25rem !important;
    }
    
    
    .p-s-2 {
        padding: 0.5rem !important;
    }
    
    .p-s-x-2 {
        padding-left: 0.5rem !important;
        padding-right: 0.5rem !important;
    }
    
    .p-s-y-2 {
        padding-top: 0.5rem !important;
        padding-bottom: 0.5rem !important;
    }
    
    .p-s-r-2 {
        padding-right: 0.5rem !important;
    }
    
    .p-s-l-2 {
        padding-left: 0.5rem !important;
    }
    
    .p-s-t-2 {
        padding-top: 0.5rem !important;
    }
    
    .p-s-b-2 {
        padding-bottom: 0.5rem !important;
    }
    
    .p-s-3 {
        padding: 0.75rem !important;
    }
    
    .p-s-x-3 {
        padding-left: 0.75rem !important;
        padding-right: 0.75rem !important;
    }
    
    .p-s-y-3 {
        padding-top: 0.75rem !important;
        padding-bottom: 0.75rem !important;
    }
    
    .p-s-r-3 {
        padding-right: 0.75rem !important;
    }
    
    .p-s-l-3 {
        padding-left: 0.75rem !important;
    }
    
    .p-s-t-3 {
        padding-top: 0.75rem !important;
    }
    
    .p-s-b-3 {
        padding-bottom: 0.75rem !important;
    }
    
    .p-s-4 {
        padding: 1rem !important;
    }
    
    .p-s-x-4 {
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }
    
    .p-s-y-4 {
        padding-top: 1rem !important;
        padding-bottom: 1rem !important;
    }
    
    .p-s-r-4 {
        padding-right: 1rem !important;
    }
    
    .p-s-l-4 {
        padding-left: 1rem !important;
    }
    
    .p-s-t-4 {
        padding-top: 1rem !important;
    }
    
    .p-s-b-4 {
        padding-bottom: 1rem !important;
    }
    
    
    .p-s-5 {
        padding: 1.25rem !important;
    }
    
    .p-s-x-5 {
        padding-left: 1.25rem !important;
        padding-right: 1.25rem !important;
    }
    
    .p-s-y-5 {
        padding-top: 1.25rem !important;
        padding-bottom: 1.25rem !important;
    }
    
    .p-s-r-5 {
        padding-right: 1.25rem !important;
    }
    
    .p-s-l-5 {
        padding-left: 1.25rem !important;
    }
    
    .p-s-t-5 {
        padding-top: 1.25rem !important;
    }
    
    .p-s-b-5 {
        padding-bottom: 1.25rem !important;
    }
    
    .p-s-6 {
        padding: 1.5rem !important;
    }
    
    .p-s-x-6 {
        padding-left: 1.5rem !important;
        padding-right: 1.5rem !important;
    }
    
    .p-s-y-6 {
        padding-top: 1.5rem !important;
        padding-bottom: 1.5rem !important;
    }
    
    .p-s-r-6 {
        padding-right: 1.5rem !important;
    }
    
    .p-s-l-6 {
        padding-left: 1.5rem !important;
    }
    
    .p-s-t-6 {
        padding-top: 1.5rem !important;
    }
    
    .p-s-b-6 {
        padding-bottom: 1.5rem !important;
    }
    
    .p-s-7 {
        padding: 2rem !important;
    }
    
    .p-s-x-7 {
        padding-left: 2rem !important;
        padding-right: 2rem !important;
    }
    
    .p-s-y-7 {
        padding-top: 2rem !important;
        padding-bottom: 2rem !important;
    }
    
    .p-s-r-7 {
        padding-right: 2rem !important;
    }
    
    .p-s-l-7 {
        padding-left: 2rem !important;
    }
    
    .p-s-t-7 {
        padding-top: 2rem !important;
    }
    
    .p-s-b-7 {
        padding-bottom: 2rem !important;
    }
    
    .p-s-8 {
        padding: 3rem !important;
    }
    
    .p-s-x-8 {
        padding-left: 3rem !important;
        padding-right: 3rem !important;
    }
    
    .p-s-y-8 {
        padding-top: 3rem !important;
        padding-bottom: 3rem !important;
    }
    
    .p-s-r-8 {
        padding-right: 3rem !important;
    }
    
    .p-s-l-8 {
        padding-left: 3rem !important;
    }
    
    .p-s-t-8 {
        padding-top: 3rem !important;
    }
    
    .p-s-b-8 {
        padding-bottom: 3rem !important;
    }
    
    .p-s-9 {
        padding: 4.5rem !important;
    }
    
    .p-s-x-9 {
        padding-left: 4.5rem !important;
        padding-right: 4.5rem !important;
    }
    
    .p-s-y-9 {
        padding-top: 4.5rem !important;
        padding-bottom: 4.5rem !important;
    }
    
    .p-s-r-9 {
        padding-right: 4.5rem !important;
    }
    
    .p-s-l-9 {
        padding-left: 4.5rem !important;
    }
    
    .p-s-t-9 {
        padding-top: 4.5rem !important;
    }
    
    .p-s-b-9 {
        padding-bottom: 4.5rem !important;
    }
    
    .p-s-10 {
        padding: 7rem !important;
    }
    
    .p-s-x-10 {
        padding-left: 7rem !important;
        padding-right: 7rem !important;
    }
    
    .p-s-y-10 {
        padding-top: 7rem !important;
        padding-bottom: 7rem !important;
    }
    
    .p-s-r-10 {
        padding-right: 7rem !important;
    }
    
    .p-s-l-10 {
        padding-left: 7rem !important;
    }
    
    .p-s-t-10 {
        padding-top: 7rem !important;
    }
    
    .p-s-b-10 {
        padding-bottom: 7rem !important;
    }
}

@media (min-width: 480px) and (max-width: 680px) {
    .p-1, .p-2, .p-3, .p-4 {
        padding: 0.5rem !important;
    }
    .p-5, .p-6, .p-7, .p-8 {
        padding: 0.75rem !important;
    }
    .p-9, .p-10 {
        padding: 1.25rem !important;
    }
}

@media (min-width: 680px) and (max-width: 992px) {
    .p-3, .p-4, .p-5{
        padding: 0.75rem !important;
    }

    .p-6, .p-7, .p-8 {
        padding: 1.25rem !important;
    }

    .p-9, .p-10 {
        padding: 2rem !important;
    }
}
