$blue-9 : #0A2E33;
$blue-8 : #114D55;
$blue-7 : #186C77;
$blue-6 : #1F8A98;
$blue-5 : #26A9BA;
$blue-4 : #34C3D5;
$blue-3 : #56CDDC;
$blue-2 : #78D7E3;
$blue-1 : #99E1EA;

$bright-blue-9 : #00668F;
$bright-blue-8 : #00668F;
$bright-blue-7 : #0084B8;
$bright-blue-6 : #00A1E0;
$bright-blue-5 : #0ABAFF;
$bright-blue-4 : #34C3D5;
$bright-blue-3 : #33C5FF;
$bright-blue-2 : #99E2FF;
$bright-blue-1 : #C2EEFF;

$red-9 : #370613;
$red-8 : #5C0A20;
$red-7 : #810E2D;
$red-6 : #A5123A;
$red-5 : #CA1646;
$red-4 : #E72357;
$red-3 : #EB4773;
$red-2 : #EF6C8F;
$red-1 : #F391AB;

$orange-9 : #3C1E01;
$orange-8 : #643102;
$orange-7 : #8C4503;
$orange-6 : #8C4503;
$orange-5 : #DC6D04;
$orange-4 : #FA810F;
$orange-3 : #FB9637;
$orange-2 : #FCAB5F;
$orange-1 : #FDC087;

$yellow-9 : #3D2C00;
$yellow-8 : #664900;
$yellow-7 : #8F6600;
$yellow-6 : #B88400;
$yellow-5 : #E0A100;
$yellow-4 : #FFBA0A;
$yellow-3 : #FFC533;
$yellow-2 : #FFD15C;
$yellow-1 : #FFDC85;

$grey-9 : #1E1E20;
$grey-8 : #313135;
$grey-7 : #45454A;
$grey-6 : #59595F;
$grey-5 : #6D6D74;
$grey-4 : #818188;
$grey-3 : #96969C;
$grey-2 : #ABABB0;
$grey-1 : #C0C0C4;

$green-9 : #15281D;
$green-8 : #234330;
$green-7 : #315E43;
$green-6 : #3F7856;
$green-5 : #4D9369;
$green-4 : #dcffea;
$green-3 : #79B993;
$green-2 : #94C7A8;
$green-1 : #AFD5BE;

$bright-green-9 : #285C1E;
$bright-green-8 : #367B28;
$bright-green-7 : #439A32;
$bright-green-6 : #51B93C;
$bright-green-5 : #69C856;
$bright-green-4 : #84D274;
$bright-green-3 : #9FDC93;
$bright-green-2 : #BBE6B2;
$bright-green-1 : #D6F0D1;

$black : #000;
$white: #fff;
$light: #f8f8f8;
$light-2: #f1f1f1;