/****************** VARS *********************/

$main-c-1 : #d9ed92;
$main-c-2 : #99d98c;
$main-c-3 : #52b69a;
$main-c-4 : #34a0a4;
$main-c-5 : #168aad;
$main-c-6 : #1a759f;
$main-c-7 : #1e6091;

.main-cl-1 {
    color: $main-c-1;
}

.main-cl-2 {
    color: $main-c-2;
}

.main-cl-3 {
    color: $main-c-3;
}

.main-cl-4 {
    color: $main-c-4;
}

.main-cl-5 {
    color: $main-c-5;
}

.main-cl-6 {
    color: $main-c-6;
}

.main-cl-7 {
    color: $main-c-7;
}

.main-bg-1 {
    background-color: $main-c-1;
}

.main-bg-2 {
    background-color: $main-c-2;
}

.main-bg-3 {
    background-color: $main-c-3;
}

.main-bg-4 {
    background-color: $main-c-4;
}

.main-bg-5 {
    background-color: $main-c-5;
}

.main-bg-6 {
    background-color: $main-c-6;
}

.main-bg-7 {
    background-color: $main-c-7;
}


/****************** STYLING ********************/

// font-family: 'Bangers', cursive;
// font-family: 'Comfortaa', cursive;
// font-family: 'Montserrat Alternates', sans-serif;
// font-family: 'Permanent Marker', cursive;
// font-family: 'Righteous', cursive;

* {
    // font-family: 'Assistant', sans-serif;
    font-family: 'Comfortaa', cursive;
}

.righteous {
    font-family: 'Righteous', cursive;
}

html {
    // font-size: 20px;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    border: none;
    margin: 0;
    cursor: pointer;
}

::-webkit-scrollbar-thumb {
    height: 4px;
    background-clip: padding-box;
    background-color: $main-c-2;
    // box-shadow: inset 0 0 1px rgba(0,0,0,0.05);
    border-radius: 2.5px;
    cursor: pointer;
}

.not-loaded {
    overflow: hidden;
}

.fade-circle {
    position: absolute;
    width: 0%;
    padding-top: 0%;
    background-color: #000;
    top: 50%;
    left: 50%;
    border-radius:50%;
    transform: translate(-50%, -50%);
    transition: all ease 1.2s;
    &.covering {
        width: 650%;
        padding-top: 650%;
    }
}

#borders {
    background-color: #fff;
    overflow-x: hidden;
    opacity: 1;
    position: fixed;
    z-index: 1005;
    left: 0;
    top: 0;
    transition: all ease 0.7s;
    &.hidden {
        opacity: 0;
    }
}

.main-bg {
    background: rgb(30,96,145);
    background: linear-gradient(35deg, rgba(217,237,146,1) 0%, rgba(52,160,164,1) 51%, rgba(30,96,145,1) 100%);
}

.light nav.menu {
    position: relative;
    z-index: 999;
    & ul {
    list-style: none;
        & a {
            text-align: center;
            color: #fff;
            transition: color ease 0.2s;
            &:hover {
                color : #aaa;
            }
        }
        & select {
            border: 0.5px solid #fff;
            background-color: transparent;
            color: #fff;
            & option {
                color: #000;
            }
        }
    }
}

.dark nav.menu {
    position: relative;
    z-index: 999;
    & ul {
    list-style: none;
        & a {
            text-align: center;
            color: #000;
            transition: color ease 0.2s;
            &:hover {
                color : #444;
            }
        }
        & select {
            border: 0.5px solid #000;
            background-color: transparent;
            color: #000;
            & option {
                color: #000;
            }
        }
    }
}

.tcf-main {
    width: 90%;
    max-width: 1100px;
}

.project-link {
    display: inline-block;
    position: relative;
    padding: 0.5em 0;
    &::after {
        content: '';
        position: absolute;
        border-radius: 2px;
        bottom: 3px;
        display: block;
        width: 100%;
        height: 1px;
        background-color: white;
        transform: scaleX(0);
        animation: plink-animation 7s ease-in-out 1s infinite normal;
        transition: all ease 0.5s;
    }
    &:hover:after {
        transform: scaleX(1);
        height: 2px;
        background-color: #000;
        animation: none;
    }
}

.project-gallery {
    transition: all ease 0.5s;
    &::-webkit-scrollbar {
        height: 0;
    }
    &::-webkit-scrollbar-track {
        margin: 8vh;
    }
}

.more-btn {
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 50%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%);
    background-size: 200%;
    background-position: 100% 50%;
    transition: padding ease 0.2s, background-position ease 0.4s, color 0.2s ease;
    &:hover {
        padding-left: 30px !important;
        background-position: 0% 50%;
        color: #fff;
    }
}

.join-btn-1 {
    background: #fff;
    background: linear-gradient(90deg, rgba(52,160,164,1) 0%, rgba(52,160,164,1) 33%, rgba(0,0,0,1) 33%, rgba(0,0,0,1) 66%, rgba(255,255,255,1) 66%, rgba(255,255,255,1) 100%);
    background-size: 303%;
    background-position: 100% 50%;
    transition: padding ease 0.2s, background-position ease 0.4s, color 0.2s ease;
    &:hover {
        padding-left: 30px !important;
        background-position: 0% 50%;
        color: #fff;
    }
}

.join-btn-1 {
    background: #fff;
    background: linear-gradient(90deg, rgba(30,96,145,1) 0%, rgba(30,96,145,1) 33%, rgba(0,0,0,1) 33%, rgba(0,0,0,1) 66%, rgba(255,255,255,1) 66%, rgba(255,255,255,1) 100%);
    background-size: 303%;
    background-position: 100% 50%;
    transition: padding ease 0.2s, background-position ease 0.4s, color 0.2s ease;
    &:hover {
        padding-left: 30px !important;
        background-position: 0% 50%;
        color: #fff;
    }
}

.join-btn-2 {
    background: #fff;
    background: linear-gradient(90deg, rgba(52,160,164,1) 0%, rgba(52,160,164,1) 33%, rgba(0,0,0,1) 33%, rgba(0,0,0,1) 66%, rgba(255,255,255,1) 66%, rgba(255,255,255,1) 100%);
    background-size: 303%;
    background-position: 100% 50%;
    transition: padding ease 0.2s, background-position ease 0.4s, color 0.2s ease;
    &:hover {
        padding-left: 30px !important;
        background-position: 0% 50%;
        color: #fff;
    }
}

.join-btn-3 {
    background: #fff;
    background: linear-gradient(90deg, rgba(217,237,146,1) 0%, rgba(217,237,146,1) 33%, rgba(0,0,0,1) 33%, rgba(0,0,0,1) 66%, rgba(255,255,255,1) 66%, rgba(255,255,255,1) 100%);
    background-size: 303%;
    background-position: 100% 50%;
    transition: padding ease 0.2s, background-position ease 0.4s, color 0.2s ease;
    &:hover {
        padding-left: 30px !important;
        background-position: 0% 50%;
    }
}

#fly-loading {
    display: none;
    opacity: 0;
    transition: all ease 250ms;
    &.show {
        display: block;
        &.ready {
            opacity: 1;
        }
    }
}

.resizable {
    transition: max-height ease 0.6s;
    max-height: 1000px;
    overflow-y: auto;
    overflow-x: hidden;
}

.minimized {
    max-height: 60px;
    overflow-y: hidden;
    overflow-x: hidden;
}

.video-container iframe {
    width: 100%;
    height: 100%;
    border-radius: 0.25rem;
}

.transition {
    width: 330%;
    position: fixed;
    display: flex;
    pointer-events: none;
    flex-direction: column;
    z-index: 1002;
    left: -330%;
    height: 100%;
    top: 0;
    & div {
        width: 100%;
        padding: 0.1px 0;
        margin-top: -0.1px;
        height: 33.4%;
        transition: transform ease 1.5s,  background-color ease 0.7s;
    }

    &.animated {
        & #tr-1 {
            transform: translateX(100%);
        }
        & #tr-2 {
            transform: translateX(65.2%);
        }
        & #tr-3 {
            transform: translateX(33.5%);
        }
    }
}

.transition-pre {
    width: 330%;
    position: fixed;
    display: flex;
    flex-direction: column;
    pointer-events: none;
    z-index: 1002;
    left: -115%;
    height: 100%;
    top: 0;
    & div {
        width: 100%;
        padding: 0.1px 0;
        margin-top: -0.1px;
        height: 33.4%;
        transition: transform ease 1.5s,  background-color ease 0.7s;
    }

    &.animated {
        & #tr-1 {
            transform: translateX(110%);
        }
        & #tr-2 {
            transform: translateX(90%);
        }
        & #tr-3 {
            transform: translateX(70%);
        }
    }
}


.header-top-border{
    height: 1px;
    width: 0%;
    position: absolute;
    left: 5%;
    top: 2px;
    background-color: #52b69a;
    transition: all ease 2s;
}

.header-side-border{
    width: 2px;
    height: 0vh;
    position: absolute;
    left: 93%;
    top: -10vh;
    background-color: #52b69a;
    transition: all ease 10s;
}

.header-title {
    margin-top: 0vh;
    width: 85%;
    text-align: center;
    margin-left: 5%;
    opacity: 0;
    transition: all ease 0.5s;
    transition-delay: 1.2s;
}

.active .header-top-border {
    width: 93%;
}

.active .header-side-border {
    height: 150vh;
}

.active .header-title {
    opacity: 1;
}

.fancy-text {
    display: inline-block;
    transition: all ease-out 0.2s;
    transform: translateX(-50px);
    opacity: 0;
    &.done {
        transform: translateX(0);
        opacity: 1;
    }
}

#scroll-point {
    position: absolute;
    left: 0;
    top: 80px;
    width: 1px;
    height: 1px;
}

.blog {
    width: 70vw;
    max-width: 1000px;
    box-shadow: inset 0px 0px 30px 3px #6668;
    border: 1px solid #8888;
}

.blog-frame {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    & iframe {
        width: 100%;
        height: 250%;
        transform: scale(0.6) translate(0, -35%);
        transition: all ease 0.7s;
    }
}

.blur {
    height: 100%;
    // background: rgb(255,255,255);
    background: radial-gradient(closest-side, rgba(255,255,255,0.1) 0%, rgba(255,255,255,0.1) 25%, rgba(255,255,255,0.1) 75%, rgba(255,255,255,1) 100%);
    backdrop-filter: blur(1px);
    transition: all ease 0.2s;
    & .blur-a {
        opacity: 0;
        transform: translateY(20px);
        transition: all ease 0.4s;
    }
    & .blur-p {
        opacity: 0;
        transform: translateY(20px);
        transition: all ease 0.4s;
    }
    &:hover {
        backdrop-filter: blur(10px);
        & .blur-a {
            opacity: 1;
            transform: translateY(0px);
        }
        & .blur-p {
            opacity: 1;
            transform: translateY(0px);
        }
    }
}

.blog {
    & .blog-content, & .blog-title {
        transition: transform 0.7s ease, opacity 0.1s 0.7s ease;
        opacity: 1;
    }
    & .blog-frame {
        transition: transform 0.7s ease;
    }
    
    &.active {
        z-index: 100;
        & .blur {
            backdrop-filter: blur(0);
            background: unset;
            & .blur-p {
                opacity: 0;
            }
        }

        & .blur-a {
            transform: scale(9) translateY(40%);
            opacity: 0;
        }
        
        & .blog-content {
            transform: scale(9) translateY(40%);
            opacity: 0;
        }
        & .blog-title {
            transform: scale(9) translateY(-40%);;
            opacity: 0;
        }
        & .blog-frame iframe {
            transform: scale(1);
        }
        & .blog-frame {
            height: 100vh;
            position: fixed;
            top: 0;
            left: 0;
        }
    }
}

.scroll-icon {
    width: 25px;
    height: 25px;
    position: absolute;
    left: 50%;
    top: calc(100vh - 80px);
    border: none;
    border-bottom: 3px solid #000;
    border-left: 3px solid #000;
    transform: translate(-50%, 0) rotate(-45deg);
    animation: scroll-icon-anim 4s ease 1s infinite normal;
}

.pullup-icon {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 50%;
    top: 35px;
    border: none;
    border-bottom: 3px solid #fff;
    border-left: 3px solid #fff;
    transform: translate(-50%, 0) rotate(135deg);
    animation: pullup-icon-anim 4s ease 1s infinite normal;
}

#hidden-part {
    transition: transform ease 0.5s;
    transform: translateY(calc(100vh - 55px));
}

@keyframes scroll-icon-anim {
    0% {transform: translate(-50%, 0) rotate(-45deg);}
    7.5% {transform: translate(-50%, 25px) rotate(-45deg);}
    23% {transform: translate(-50%, 0) rotate(-45deg);}
    27% {transform: translate(-50%, 0) rotate(-45deg);}
    34.5% {transform: translate(-50%, 25px) rotate(-45deg);}
    50% {transform: translate(-50%, 0) rotate(-45deg);}
    51% {opacity: 1;}
    55% {opacity: 0;}
    96% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes pullup-icon-anim {
    0% {transform: translate(-50%, 0) rotate(135deg);}
    7.5% {transform: translate(-50%, -15px) rotate(135deg);}
    23% {transform: translate(-50%, 0) rotate(135deg);}
    27% {transform: translate(-50%, 0) rotate(135deg);}
    34.5% {transform: translate(-50%, -15px) rotate(135deg);}
    50% {transform: translate(-50%, 0) rotate(135deg);}
    51% {opacity: 1;}
    55% {opacity: 0;}
    96% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes plink-animation {
    0% {transform: scale(0);}
    12.5% {transform: scale(1);}
    17.5% {transform: scale(1);}
    30% {transform: scale(0);}
    100% {transform: scale(0);}
}