/****************** VARS *********************/
.main-cl-1 {
  color: #d9ed92;
}

.main-cl-2 {
  color: #99d98c;
}

.main-cl-3 {
  color: #52b69a;
}

.main-cl-4 {
  color: #34a0a4;
}

.main-cl-5 {
  color: #168aad;
}

.main-cl-6 {
  color: #1a759f;
}

.main-cl-7 {
  color: #1e6091;
}

.main-bg-1 {
  background-color: #d9ed92;
}

.main-bg-2 {
  background-color: #99d98c;
}

.main-bg-3 {
  background-color: #52b69a;
}

.main-bg-4 {
  background-color: #34a0a4;
}

.main-bg-5 {
  background-color: #168aad;
}

.main-bg-6 {
  background-color: #1a759f;
}

.main-bg-7 {
  background-color: #1e6091;
}

/****************** STYLING ********************/
@font-face {
  font-family: 'Vazirmatn';
  src: url("../fonts/Vazirmatn-RD[wght].woff2") format("woff2 supports variations"), url("../fonts/Vazirmatn-RD[wght].woff2") format("woff2-variations");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NYJ';
  src: url("../fonts/YekanN.eot?#") format("eot"), url("../fonts/YekanN.woff") format("woff"), url("../fonts/YekanN.ttf") format("truetype");
}

html[lang="fa"] {
  font-family: 'NYJ', 'Vazirmatn', cursive;
}

html {
  font-family: 'Comfortaa', cursive;
}

.righteous {
  font-family: 'Vazirmatn', 'Righteous', cursive;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  border: none;
  margin: 0;
  cursor: pointer;
}

::-webkit-scrollbar-thumb {
  height: 4px;
  background-clip: padding-box;
  background-color: #99d98c;
  border-radius: 2.5px;
  cursor: pointer;
}

.not-loaded {
  overflow: hidden;
}

.fade-circle {
  position: absolute;
  width: 0%;
  padding-top: 0%;
  background-color: #000;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all ease 1.2s;
  transition: all ease 1.2s;
}

.fade-circle.covering {
  width: 650%;
  padding-top: 650%;
}

#borders {
  background-color: #fff;
  overflow-x: hidden;
  opacity: 1;
  position: fixed;
  z-index: 1005;
  left: 0;
  top: 0;
  -webkit-transition: all ease 0.7s;
  transition: all ease 0.7s;
}

#borders.hidden {
  opacity: 0;
}

.main-bg {
  background: #1e6091;
  background: linear-gradient(35deg, #d9ed92 0%, #34a0a4 51%, #1e6091 100%);
}

.light nav.menu {
  position: relative;
  z-index: 999;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.light nav.menu .nowrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding: 1em;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.light nav.menu select {
  border: 0.5px solid #fff;
  background-color: transparent;
  color: #fff;
  margin-left: 10px;
}

.light nav.menu select option {
  color: #000;
}

.light nav.menu .scroll-right-btn {
  width: 60px;
  height: 40px;
  position: relative;
  cursor: pointer;
}

.light nav.menu .scroll-right-btn::after {
  content: '';
  width: 10px;
  height: 10px;
  border-bottom: #fff solid 2px;
  border-right: #fff solid 2px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}

.light nav.menu .scroll-left-btn {
  width: 60px;
  height: 40px;
  position: relative;
  cursor: pointer;
}

.light nav.menu .scroll-left-btn::after {
  content: '';
  width: 10px;
  height: 10px;
  border-bottom: #fff solid 2px;
  border-right: #fff solid 2px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(135deg);
          transform: translate(-50%, -50%) rotate(135deg);
}

.light nav.menu .menu-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

.light nav.menu .menu-items::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.light nav.menu ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.light nav.menu ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 1em;
}

.light nav.menu ul a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  text-align: center;
  white-space: nowrap;
  color: #fff;
  -webkit-transition: color ease 0.2s;
  transition: color ease 0.2s;
}

.light nav.menu ul a:hover {
  color: #aaa;
}

.dark nav.menu {
  position: relative;
  z-index: 999;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dark nav.menu .nowrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding: 1em;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dark nav.menu select {
  border: 0.5px solid #222;
  background-color: transparent;
  color: #222;
  margin-left: 10px;
}

.dark nav.menu select option {
  color: #000;
}

.dark nav.menu .scroll-right-btn {
  width: 60px;
  height: 40px;
  position: relative;
  cursor: pointer;
}

.dark nav.menu .scroll-right-btn::after {
  content: '';
  width: 10px;
  height: 10px;
  border-bottom: #222 solid 2px;
  border-right: #222 solid 2px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}

.dark nav.menu .scroll-left-btn {
  width: 60px;
  height: 40px;
  position: relative;
  cursor: pointer;
}

.dark nav.menu .scroll-left-btn::after {
  content: '';
  width: 10px;
  height: 10px;
  border-bottom: #222 solid 2px;
  border-right: #222 solid 2px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(135deg);
          transform: translate(-50%, -50%) rotate(135deg);
}

.dark nav.menu .menu-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

.dark nav.menu .menu-items::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.dark nav.menu ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.dark nav.menu ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 1em;
}

.dark nav.menu ul a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  text-align: center;
  white-space: nowrap;
  color: #000;
  -webkit-transition: color ease 0.2s;
  transition: color ease 0.2s;
}

.dark nav.menu ul a:hover {
  color: #444;
}

.dark nav.menu ul select {
  border: 0.5px solid #000;
  background-color: transparent;
  color: #000;
}

.dark nav.menu ul select option {
  color: #000;
}

.project-link-scroll {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  overflow: hidden;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.project-link-scroll .project-link-holder {
  width: calc(90% - 100px);
  padding: 0 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

.project-link-scroll .project-link-holder::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.project-link-scroll .project-link-holder a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  white-space: nowrap;
  margin: 0 1em;
}

.project-link-scroll .scroll-right-btn {
  width: 60px;
  height: 40px;
  position: relative;
  cursor: pointer;
}

.project-link-scroll .scroll-right-btn::after {
  content: '';
  width: 10px;
  height: 10px;
  border-bottom: #fff solid 2px;
  border-right: #fff solid 2px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}

.project-link-scroll .scroll-left-btn {
  width: 60px;
  height: 40px;
  position: relative;
  cursor: pointer;
}

.project-link-scroll .scroll-left-btn::after {
  content: '';
  width: 10px;
  height: 10px;
  border-bottom: #fff solid 2px;
  border-right: #fff solid 2px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(135deg);
          transform: translate(-50%, -50%) rotate(135deg);
}

.blog-tag-scroll {
  width: 100%;
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  overflow: hidden;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.blog-tag-scroll .blog-tag-holder {
  width: calc(90% - 100px);
  padding: 0 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

.blog-tag-scroll .blog-tag-holder::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.blog-tag-scroll .blog-tag-holder a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  white-space: nowrap;
  margin: 0 1em;
}

.blog-tag-scroll .scroll-right-btn {
  width: 60px;
  height: 40px;
  position: relative;
  cursor: pointer;
}

.blog-tag-scroll .scroll-right-btn::after {
  content: '';
  width: 10px;
  height: 10px;
  border-bottom: #222 solid 2px;
  border-right: #222 solid 2px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}

.blog-tag-scroll .scroll-left-btn {
  width: 60px;
  height: 40px;
  position: relative;
  cursor: pointer;
}

.blog-tag-scroll .scroll-left-btn::after {
  content: '';
  width: 10px;
  height: 10px;
  border-bottom: #222 solid 2px;
  border-right: #222 solid 2px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(135deg);
          transform: translate(-50%, -50%) rotate(135deg);
}

.tcf-main {
  width: 90%;
  max-width: 1100px;
}

.project-link {
  display: inline-block;
  position: relative;
  padding: 0.5em 0;
}

.project-link::after {
  content: '';
  position: absolute;
  border-radius: 2px;
  bottom: 3px;
  display: block;
  width: 100%;
  height: 1px;
  background-color: white;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-animation: plink-animation 7s ease-in-out 1s infinite normal;
          animation: plink-animation 7s ease-in-out 1s infinite normal;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.project-link:hover:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  height: 2px;
  background-color: #000;
  -webkit-animation: none;
          animation: none;
}

.project-gallery {
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.project-gallery::-webkit-scrollbar {
  height: 0;
}

.project-gallery::-webkit-scrollbar-track {
  margin: 8vh;
}

.more-btn {
  background: black;
  background: -webkit-gradient(linear, left top, right top, from(black), color-stop(50%, black), color-stop(50%, white), to(white));
  background: linear-gradient(90deg, black 0%, black 50%, white 50%, white 100%);
  background-size: 200%;
  background-position: 100% 50%;
  -webkit-transition: padding ease 0.2s, background-position ease 0.4s, color 0.2s ease;
  transition: padding ease 0.2s, background-position ease 0.4s, color 0.2s ease;
}

.more-btn:hover {
  padding-left: 30px !important;
  background-position: 0% 50%;
  color: #fff;
}

.join-btn-1 {
  background: #fff;
  color: #000;
  background: -webkit-gradient(linear, left top, right top, from(#1e6091), color-stop(33%, #1e6091), color-stop(33%, black), color-stop(66%, black), color-stop(66%, white), to(white));
  background: linear-gradient(90deg, #1e6091 0%, #1e6091 33%, black 33%, black 66%, white 66%, white 100%);
  background-size: 303%;
  background-position: 100% 50%;
  -webkit-transition: padding ease 0.2s, background-position ease 0.4s, color 0.2s ease;
  transition: padding ease 0.2s, background-position ease 0.4s, color 0.2s ease;
}

.join-btn-1:hover {
  background-position: 0% 50%;
  color: #fff;
}

.join-btn-2 {
  background: #fff;
  color: #000;
  background: -webkit-gradient(linear, left top, right top, from(#34a0a4), color-stop(33%, #34a0a4), color-stop(33%, black), color-stop(66%, black), color-stop(66%, white), to(white));
  background: linear-gradient(90deg, #34a0a4 0%, #34a0a4 33%, black 33%, black 66%, white 66%, white 100%);
  background-size: 303%;
  background-position: 100% 50%;
  -webkit-transition: padding ease 0.2s, background-position ease 0.4s, color 0.2s ease;
  transition: padding ease 0.2s, background-position ease 0.4s, color 0.2s ease;
}

.join-btn-2:hover {
  background-position: 0% 50%;
  color: #fff;
}

.join-btn-3 {
  background: #fff;
  color: #000;
  background: -webkit-gradient(linear, left top, right top, from(#d9ed92), color-stop(33%, #d9ed92), color-stop(33%, black), color-stop(66%, black), color-stop(66%, white), to(white));
  background: linear-gradient(90deg, #d9ed92 0%, #d9ed92 33%, black 33%, black 66%, white 66%, white 100%);
  background-size: 303%;
  background-position: 100% 50%;
  -webkit-transition: padding ease 0.2s, background-position ease 0.4s, color 0.2s ease;
  transition: padding ease 0.2s, background-position ease 0.4s, color 0.2s ease;
}

.join-btn-3:hover {
  background-position: 0% 50%;
}

#fly-loading {
  display: none;
  opacity: 0;
  -webkit-transition: all ease 250ms;
  transition: all ease 250ms;
}

#fly-loading.show {
  display: block;
}

#fly-loading.show.ready {
  opacity: 1;
}

.resizable {
  -webkit-transition: max-height ease 0.6s;
  transition: max-height ease 0.6s;
  max-height: 1000px;
  overflow-y: auto;
  overflow-x: hidden;
}

.minimized {
  max-height: 60px;
  overflow-y: hidden;
  overflow-x: hidden;
}

.video-container iframe {
  width: 100%;
  height: 100%;
  border-radius: 0.25rem;
}

.transition {
  width: 330%;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  pointer-events: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 1002;
  left: -330%;
  height: 100%;
  top: 0;
}

.transition div {
  width: 100%;
  padding: 0.1px 0;
  margin-top: -0.1px;
  height: 33.4%;
  -webkit-transition: background-color ease 0.7s,  -webkit-transform ease 1.5s;
  transition: background-color ease 0.7s,  -webkit-transform ease 1.5s;
  transition: transform ease 1.5s,  background-color ease 0.7s;
  transition: transform ease 1.5s,  background-color ease 0.7s,  -webkit-transform ease 1.5s;
}

.transition.animated #tr-1 {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.transition.animated #tr-2 {
  -webkit-transform: translateX(65.2%);
          transform: translateX(65.2%);
}

.transition.animated #tr-3 {
  -webkit-transform: translateX(33.5%);
          transform: translateX(33.5%);
}

.transition-pre {
  width: 330%;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  pointer-events: none;
  z-index: 1002;
  left: -115%;
  height: 100%;
  top: 0;
}

.transition-pre div {
  width: 100%;
  padding: 0.1px 0;
  margin-top: -0.1px;
  height: 33.4%;
  -webkit-transition: background-color ease 0.7s,  -webkit-transform ease 1.5s;
  transition: background-color ease 0.7s,  -webkit-transform ease 1.5s;
  transition: transform ease 1.5s,  background-color ease 0.7s;
  transition: transform ease 1.5s,  background-color ease 0.7s,  -webkit-transform ease 1.5s;
}

.transition-pre.animated #tr-1 {
  -webkit-transform: translateX(110%);
          transform: translateX(110%);
}

.transition-pre.animated #tr-2 {
  -webkit-transform: translateX(90%);
          transform: translateX(90%);
}

.transition-pre.animated #tr-3 {
  -webkit-transform: translateX(70%);
          transform: translateX(70%);
}

.header-top-border {
  height: 1px;
  width: 0%;
  position: absolute;
  left: 5%;
  top: 2px;
  background-color: #52b69a;
  -webkit-transition: all ease 2s;
  transition: all ease 2s;
}

.header-side-border {
  width: 2px;
  height: 0vh;
  position: absolute;
  left: 93%;
  top: -5vh;
  background-color: #52b69a;
  -webkit-transition: all ease 10s;
  transition: all ease 10s;
}

.header-title {
  margin-top: 0vh;
  width: 85%;
  text-align: center;
  margin-left: 5%;
  opacity: 0;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  -webkit-transition-delay: 1.2s;
          transition-delay: 1.2s;
}

.active .header-top-border {
  width: 93%;
}

.active .header-side-border {
  height: 150vh;
}

.active .header-title {
  opacity: 1;
}

.fancy-text {
  -webkit-transition: all ease-out 0.2s;
  transition: all ease-out 0.2s;
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
  opacity: 0;
}

.fancy-text.done {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

#scroll-point {
  position: absolute;
  left: 0;
  top: 80px;
  width: 1px;
  height: 1px;
}

.blog {
  width: 70vw;
  max-width: 800px;
  border: 2px solid #ccc;
}

.project-blog {
  width: 45vh;
  max-width: 450px;
  border: 2px solid #ccc;
}

.blog-frame {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.blog-frame iframe {
  width: 100%;
  height: 250%;
  -webkit-transform: scale(0.6) translate(0, -35%);
          transform: scale(0.6) translate(0, -35%);
  -webkit-transition: all ease 0.7s;
  transition: all ease 0.7s;
}

.blur {
  height: 100%;
  -webkit-backdrop-filter: blur(0px);
          backdrop-filter: blur(0px);
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
}

.blur .blur-a {
  opacity: 0;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  -webkit-transition: all ease 0.4s;
  transition: all ease 0.4s;
}

.blur .blur-p {
  opacity: 0;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  -webkit-transition: all ease 0.4s;
  transition: all ease 0.4s;
}

.blur:hover {
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

.blur:hover .blur-a {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.blur:hover .blur-p {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.blog .blog-content, .blog .blog-title {
  -webkit-transition: opacity 0.1s 0.7s ease, -webkit-transform 0.7s ease;
  transition: opacity 0.1s 0.7s ease, -webkit-transform 0.7s ease;
  transition: transform 0.7s ease, opacity 0.1s 0.7s ease;
  transition: transform 0.7s ease, opacity 0.1s 0.7s ease, -webkit-transform 0.7s ease;
  opacity: 1;
}

.blog .blog-frame {
  -webkit-transition: -webkit-transform 0.7s ease;
  transition: -webkit-transform 0.7s ease;
  transition: transform 0.7s ease;
  transition: transform 0.7s ease, -webkit-transform 0.7s ease;
}

.blog.active .blur {
  -webkit-backdrop-filter: blur(0);
          backdrop-filter: blur(0);
  background: unset;
}

.blog.active .blur .blur-p {
  opacity: 0;
}

.blog.active .blur-a {
  -webkit-transform: scale(9) translateY(40%);
          transform: scale(9) translateY(40%);
  opacity: 0;
}

.blog.active .blog-content {
  -webkit-transform: scale(9) translateY(40%);
          transform: scale(9) translateY(40%);
  opacity: 0;
}

.blog.active .blog-title {
  -webkit-transform: scale(9) translateY(-40%);
          transform: scale(9) translateY(-40%);
  opacity: 0;
}

.blog.active .blog-frame iframe {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.blog.active .blog-frame {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

#article-h1 span {
  font-family: inherit;
}

.scroll-icon {
  width: 25px;
  height: 25px;
  position: absolute;
  left: 50%;
  top: calc(100vh - 80px);
  border: none;
  border-bottom: 3px solid #000;
  border-left: 3px solid #000;
  -webkit-transform: translate(-50%, 0) rotate(-45deg);
          transform: translate(-50%, 0) rotate(-45deg);
  -webkit-animation: scroll-icon-anim 4s ease 1s infinite normal;
          animation: scroll-icon-anim 4s ease 1s infinite normal;
}

.pullup {
  width: 100px;
  height: 50px;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.pullup .icon {
  width: 20px;
  height: 20px;
  margin-top: 25px;
  border: none;
  border-bottom: 3px solid #fff;
  border-left: 3px solid #fff;
  -webkit-transform: translate(0, 0) rotate(135deg);
          transform: translate(0, 0) rotate(135deg);
  -webkit-animation: pullup-icon-anim 4s ease 1s infinite normal;
          animation: pullup-icon-anim 4s ease 1s infinite normal;
}

.pullup .icon.active {
  -webkit-transform: translate(0, -15px) rotate(-45deg);
          transform: translate(0, -15px) rotate(-45deg);
  -webkit-animation: pulldown-icon-anim 4s ease 1s infinite normal;
          animation: pulldown-icon-anim 4s ease 1s infinite normal;
}

#hidden-part {
  -webkit-transition: -webkit-transform ease 0.5s;
  transition: -webkit-transform ease 0.5s;
  transition: transform ease 0.5s;
  transition: transform ease 0.5s, -webkit-transform ease 0.5s;
  -webkit-transform: translateY(calc(100vh - 55px));
          transform: translateY(calc(100vh - 55px));
}

.selected-0 {
  background-color: #999;
}

.selected-1 {
  background-color: #168aad;
}

.blog-body img {
  max-width: 100% !important;
}

@-webkit-keyframes scroll-icon-anim {
  0% {
    -webkit-transform: translate(-50%, 0) rotate(-45deg);
            transform: translate(-50%, 0) rotate(-45deg);
  }
  7.5% {
    -webkit-transform: translate(-50%, 25px) rotate(-45deg);
            transform: translate(-50%, 25px) rotate(-45deg);
  }
  23% {
    -webkit-transform: translate(-50%, 0) rotate(-45deg);
            transform: translate(-50%, 0) rotate(-45deg);
  }
  27% {
    -webkit-transform: translate(-50%, 0) rotate(-45deg);
            transform: translate(-50%, 0) rotate(-45deg);
  }
  34.5% {
    -webkit-transform: translate(-50%, 25px) rotate(-45deg);
            transform: translate(-50%, 25px) rotate(-45deg);
  }
  50% {
    -webkit-transform: translate(-50%, 0) rotate(-45deg);
            transform: translate(-50%, 0) rotate(-45deg);
  }
  51% {
    opacity: 1;
  }
  55% {
    opacity: 0;
  }
  96% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes scroll-icon-anim {
  0% {
    -webkit-transform: translate(-50%, 0) rotate(-45deg);
            transform: translate(-50%, 0) rotate(-45deg);
  }
  7.5% {
    -webkit-transform: translate(-50%, 25px) rotate(-45deg);
            transform: translate(-50%, 25px) rotate(-45deg);
  }
  23% {
    -webkit-transform: translate(-50%, 0) rotate(-45deg);
            transform: translate(-50%, 0) rotate(-45deg);
  }
  27% {
    -webkit-transform: translate(-50%, 0) rotate(-45deg);
            transform: translate(-50%, 0) rotate(-45deg);
  }
  34.5% {
    -webkit-transform: translate(-50%, 25px) rotate(-45deg);
            transform: translate(-50%, 25px) rotate(-45deg);
  }
  50% {
    -webkit-transform: translate(-50%, 0) rotate(-45deg);
            transform: translate(-50%, 0) rotate(-45deg);
  }
  51% {
    opacity: 1;
  }
  55% {
    opacity: 0;
  }
  96% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes pullup-icon-anim {
  0% {
    -webkit-transform: translate(0, 0) rotate(135deg);
            transform: translate(0, 0) rotate(135deg);
  }
  7.5% {
    -webkit-transform: translate(0, -15px) rotate(135deg);
            transform: translate(0, -15px) rotate(135deg);
  }
  23% {
    -webkit-transform: translate(0, 0) rotate(135deg);
            transform: translate(0, 0) rotate(135deg);
  }
  27% {
    -webkit-transform: translate(0, 0) rotate(135deg);
            transform: translate(0, 0) rotate(135deg);
  }
  34.5% {
    -webkit-transform: translate(0, -15px) rotate(135deg);
            transform: translate(0, -15px) rotate(135deg);
  }
  50% {
    -webkit-transform: translate(0, 0) rotate(135deg);
            transform: translate(0, 0) rotate(135deg);
  }
  51% {
    opacity: 1;
  }
  55% {
    opacity: 0;
  }
  96% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes pullup-icon-anim {
  0% {
    -webkit-transform: translate(0, 0) rotate(135deg);
            transform: translate(0, 0) rotate(135deg);
  }
  7.5% {
    -webkit-transform: translate(0, -15px) rotate(135deg);
            transform: translate(0, -15px) rotate(135deg);
  }
  23% {
    -webkit-transform: translate(0, 0) rotate(135deg);
            transform: translate(0, 0) rotate(135deg);
  }
  27% {
    -webkit-transform: translate(0, 0) rotate(135deg);
            transform: translate(0, 0) rotate(135deg);
  }
  34.5% {
    -webkit-transform: translate(0, -15px) rotate(135deg);
            transform: translate(0, -15px) rotate(135deg);
  }
  50% {
    -webkit-transform: translate(0, 0) rotate(135deg);
            transform: translate(0, 0) rotate(135deg);
  }
  51% {
    opacity: 1;
  }
  55% {
    opacity: 0;
  }
  96% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes pulldown-icon-anim {
  0% {
    -webkit-transform: translate(0, -15px) rotate(-45deg);
            transform: translate(0, -15px) rotate(-45deg);
  }
  7.5% {
    -webkit-transform: translate(0, 0) rotate(-45deg);
            transform: translate(0, 0) rotate(-45deg);
  }
  23% {
    -webkit-transform: translate(0, -15px) rotate(-45deg);
            transform: translate(0, -15px) rotate(-45deg);
  }
  27% {
    -webkit-transform: translate(0, -15px) rotate(-45deg);
            transform: translate(0, -15px) rotate(-45deg);
  }
  34.5% {
    -webkit-transform: translate(0, 0) rotate(-45deg);
            transform: translate(0, 0) rotate(-45deg);
  }
  50% {
    -webkit-transform: translate(0, -15px) rotate(-45deg);
            transform: translate(0, -15px) rotate(-45deg);
  }
  51% {
    opacity: 1;
  }
  55% {
    opacity: 0;
  }
  96% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes pulldown-icon-anim {
  0% {
    -webkit-transform: translate(0, -15px) rotate(-45deg);
            transform: translate(0, -15px) rotate(-45deg);
  }
  7.5% {
    -webkit-transform: translate(0, 0) rotate(-45deg);
            transform: translate(0, 0) rotate(-45deg);
  }
  23% {
    -webkit-transform: translate(0, -15px) rotate(-45deg);
            transform: translate(0, -15px) rotate(-45deg);
  }
  27% {
    -webkit-transform: translate(0, -15px) rotate(-45deg);
            transform: translate(0, -15px) rotate(-45deg);
  }
  34.5% {
    -webkit-transform: translate(0, 0) rotate(-45deg);
            transform: translate(0, 0) rotate(-45deg);
  }
  50% {
    -webkit-transform: translate(0, -15px) rotate(-45deg);
            transform: translate(0, -15px) rotate(-45deg);
  }
  51% {
    opacity: 1;
  }
  55% {
    opacity: 0;
  }
  96% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes plink-animation {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  12.5% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  17.5% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  30% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes plink-animation {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  12.5% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  17.5% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  30% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}
/*# sourceMappingURL=style.css.map */